
@font-face{

   font-family: " mohamed Khaled ";   /*any name you want , note If the word consists of two syllables, it is placed in quotation marks*/
   src: url(../GoogleFonts/Bangers/Bangers-Regular.ttf);

}

@font-face{

    font-family: Poppins ;   /*any name you want*/
    src: url(../GoogleFonts/Poppins/);
 
 }

 @font-face{

   font-family: Pacifico ;   /*any name you want*/
   src: url(../GoogleFonts/Pacifico/Pacifico-Regular.ttf);

}

@font-face{

   font-family: PTSansCaption ;   /*any name you want*/
   src: url(../GoogleFonts/PT_Sans_Caption/PTSansCaption-Regular.ttf);

}

@font-face{

   font-family: Righteous ;   /*any name you want*/
   src: url(../GoogleFonts/Righteous/Righteous-Regular.ttf);

}

*::selection{
   background-color: #F8C25D;
}

 body{
   background-color: #F7ECDE;
 }



 .Bookmarkcontainer{
   font-family: PTSansCaption;
 }
.container{

padding-bottom: 2px;
}
.formContainer{

 border-top: dashed 2px; 
 border-bottom: dashed 2px; 
 
}

.container h1{

   font-family: Pacifico;
   font-size: 50px;
   font-weight:500 ;
   line-height: 60px;
   color: #352E28;
   position: relative;
   display: block;
   margin: auto;
   width: fit-content;
   z-index: 1;
   
}

.container h1::before{
   content:'';
   background-color: #F8C25D;
   position: absolute;
   bottom: 0;
   left:0;
   height: 30%;
   transition: all 1s;
   width: 100%;
   z-index: -1;
   
}


.container h1:hover::before{

  height: 70%;
   
}



form h2 {
   font-family: Righteous;
   font-size: 25px;
   font-weight:500 ;
   line-height: 30px;
   color: transparent;
   background: linear-gradient(90deg, rgba(82,164,88,1) 47%, rgba(175,172,70,1) 70%);  background-clip: text;
 background-clip: text;
}

.form-control:focus{

   border-color: #F8C25D;
   box-shadow: 0 0 0 .25rem rgba(253, 201, 13, 0.25);
}

form button{

   padding: 10px 50px 10px 50px;
   border:  0;
   outline: none;
   border-radius: 5px;
   background-color: #D1512D;
   color:white;
    transition: all 1s;
}
form button:hover{


   background-color: #BB4120;
}

.swal-title {

   text-align: left;
   
}

.swal-icon {

   margin: 0 auto;
}

.swal-text {
   font-size: 21px;
}
.searchBox{
   width: 289px;
   font-family:Righteous ;
   font-size: larger;
}

#notification{

   opacity: 0;

}

.animationfornotification{

animation-name: notification;
animation-duration: 3s;
}

@keyframes notification{

0%,70%{
    
   opacity: 1;
}
100%{

   opacity: 0;

}


}