<section class="bg-[#F4F2EE] px-[15px]   ">     <div class="p-4 sm:ml-64">
  <h1 class=" mt-6 font-[Pacifico] text-4xl font-bold leading-10  text-transparent  bg-gradient-to-r from-yellow-400 via-red-600 to-purple-500 bg-clip-text">Learn, Cook, Eat Your Food</h1>
<ul class="mt-8 flex flex-wrap mb-14 gap-4  max-sm:hidden ">
  @if(categoryList){
    <li (click)="getALLmeals()"   class=" ">    
      <input type="radio" id="all" name="menu" class="peer hidden">
     <label for="all" class=" peer-checked:bg-black peer-checked:text-white cursor-pointer block  w-fit py-3 px-7 rounded-full font-semibold  bg-transparent hover:bg-black  border-2  hover:scale-110 hover:shadow-2xl border-zinc-800 text-black hover:text-white">
       All
     </label> </li>


  @for (category of categoryList; track $index) {

  <li  (click)="getSpecifcmeals(category.strCategory)"   class=" ">    
     <input type="radio" [id]="category.strCategory" name="menu" class="peer hidden">
    <label [for]="category.strCategory" class=" peer-checked:bg-black peer-checked:text-white cursor-pointer block  w-fit py-3 px-7 rounded-full font-semibold  bg-transparent hover:bg-black  border-2  hover:scale-110 hover:shadow-2xl border-zinc-800 text-black hover:text-white">
      {{category.strCategory}}
    </label> </li>
  }}

</ul>
@if(categoryList){
<select  [(ngModel)]="selectedOption"  (change)="onOptionChange()"  id="category" class=" mt-6 mb-28 sm:hidden bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option value="" disabled> select category ...</option>

  @for (category of categoryList; track $index) {

    <option [value]="category.strCategory">{{category.strCategory}}</option>
  }
</select>
}
  <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-[80px] sm:gap-y-[60px] gap-x-[25px] mb-4">
    @if(true) {
      @for (meal of mealList; track $index) {
          <div class=" group  hover:scale-105 duration-300 transition-all bg-white relative  rounded-[2rem]  shadow-lg hover:shadow-2xl pb-4">
          <div class="  w-[65%]  relative   left-1/2 -translate-x-1/2 top-[-30px]">
            <img [src]="meal.strMealThumb" class="w-full rounded-full group-hover:rotate-[360deg] duration-700 transition-all  shadow-2xl">
          </div>
          <h3 class="text-center    tracking-wider	 text-xl">{{meal.strMeal}}</h3>
         @if(meal.strArea){           <span class="block text-center  text-emerald-600">  {{meal.strArea}}</span>
        }
          <button  (click)="goToIngredientsPage(meal.idMeal)"   class="text-white block  mx-auto mt-4 bg-[#47B973] hover:bg-emerald-600  hover:shadow-lg hover:scale-105 transition-all duration-300  px-8 py-2 rounded-full"> View Recipe  </button>
           <!-- routerLink="/Ingredients"   [queryParams]="{ mealId:  meal.idMeal }" --> 
          </div>
        }
      }

       </div>
 </div>
     </section>
